
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <link rel="stylesheet" href="../static/css/thank.css">
       <!-- Link to your JavaScript file -->
       <script src="../static/js/payment.js" defer></script>

</head>
<body>
    <div class="thank-you-container">
        <!-- Confetti Background -->
        <div class="confetti"></div>

        <!-- Thank You Message -->
        <div class="ribbons-container">
              <h1 class="thank-you-title">Payment Canceled</h1>
          </div>
        <p class="thank-you-message">
            Your payment was not completed. If this was a mistake, please try again.
         </p>
       
    </div>
    </body>
    </html>

